.y_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 4300px;
    background: url(../images/backgrond.png) no-repeat;
}

* {
    /* outline: 1px solid tomato; */
}

#header {
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#header .hd_wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 8rem;
    height: 8rem;
}

#header h1 {
    flex: 1;
}

#header h1 a {
    display: block;
    width: 14rem;
    height: 8rem;
    background: url(../images/logo.png);
}

#header .inner {
    display: flex;
    gap: 8px;
}


#header .gnb {
    max-width: 129rem;
    width: 100%;
}

#header .gnb>ul {
    display: flex;
    gap: 8px;
}


#header .utils {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
    margin: 0 0 0 auto;
}

#header .utils .lang {
    background: #fff;
    border-radius: 1.6rem;
}

#header .utils .lang a {
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 2rem;
    white-space: nowrap;
}

#header .utils .lang .lnk {
    display: none;
    position: absolute;
    background: #fff;
}

#main_slide {}

#main_slide .inner {
    width: 840px;
    padding: 0 0 24px 0;
    background-color: rgb(255, 255, 255, 0.9);
}

#main_slide .wrap {}

#main_slide .tit h2 {
    font-size: 36px;
    font-weight: 800;
    color: #f57421;
    padding: 36px 0 36px 0;
    margin: 0 0 0 40px;
}

#main_slide .tit p {
    font-size: 16px;
    line-height: 60px;
    margin: 0 0 0 40px;
}

#main_slide .tit p b {
    font-weight: 600;
}

#main_slide .tit .t {
    margin: 0 0 0 80px;
}

#main_slide_p {}

#main_slide_p .tit {
    margin: 0 0 36px 0;
    font-size: 1.8rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;

}

#main_slide_p .tit h2 {
    display: block;
    text-transform: uppercase;
    width: 40rem;
    font-size: 24px;
    font-weight: 800;
    padding: 1rem 2rem 1rem 2rem;
    background: #404042;
    border-radius: 2.5rem;
    margin: auto;
    color: #fff;
}

#main_slide_p .tit h2 b {
    color: #f57421;
}

#main_slide_p .inner {
    max-width: 840px;
    overflow: hidden;
}

.inner .slide_p {
    position: relative;
    padding: 0 -37.5px;
}

.inner .slide_p .p {
    margin: 0 37.5px;
}

.inner .slide_p .img_box {
    max-width: 230px;
    object-fit: cover;
}

.inner .slide_p img {
    max-width: 230px;
    object-fit: cover;
}

.slide_p .box {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 0.9);
    width: 230px;
    text-align: center;
    margin: -100px 0;
    height: 100px;
}

.slide_p .box_2 {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 0.9);
    width: 230px;
    text-align: center;
    margin: -100px 0;
    height: 100px;
}

.slide_p .box_3 {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 0.9);
    width: 230px;
    text-align: center;
    margin: -100px 0;
    height: 100px;
}

.slide_p .box_4 {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 0.9);
    width: 230px;
    text-align: center;
    margin: -100px 0;
    height: 100px;
}

.slide_p .box_5 {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 0.9);
    width: 230px;
    text-align: center;
    margin: -100px 0;
    height: 100px;
}

.slide_p .desc {
    padding: 24px;
}

.slide_p .desc strong {
    font-size: 16px;
    font-weight: 600;
}

.slide_p .desc strong b {
    color: #f57421;
}

.slide_p .desc em {
    font-size: 14px;
}

.slide_p .desc p {
    font-size: 14px;
}

.slide_p .slick-dots {
    margin: 36px 0 0 0;
    text-align: center;
}

.slide_p .slick-dots li {
    display: inline-block;
}

.slide_p .slick-dots button {
    border: none;
    background: transparent;
    color: transparent;
    border: 1px solid #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.slide_p .slick-dots li.slick-active button {
    background: #f57421;
}

#main_news .tit {
    margin: 0 0 36px 0;
}

#main_news .tit h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #fff;
}

#main_news .inner {
    justify-content: center;
    width: 790px;
}

#main_news .inner .n_wrap {
    display: flex;
    justify-content: center;
    width: 790px;
    gap: 40px;
}

#main_news .inner .n_wrap figure {
    flex: 1;
}

#main_news .inner .n_wrap figure img {
    width: 790px;
}

#main_news .inner .n_wrap .desc {
    background: #fff;
}

#main_news .inner .n_wrap .desc strong {
    display: block;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    margin: 16px 0;
}

#main_news .inner .n_wrap .desc em {
    display: block;
    line-height: 24px;
}

#main_news .inner .n_wrap .btn {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #f57421;
    margin: 16px 0;
}

#main_news .inner .n_wrap .btn a {
    padding: 1px 4px;
    border: 1px solid #f57421;
}

#main_shop .inner {
    width: 830px;
}

#main_shop .shop_img {
    position: relative;
}

#main_shop .shop_tit {
    position: absolute;
    top: 25px;
    right: 16px;
}

#main_shop .shop_tit h2 {
    font-size: 26px;
    font-weight: 800;
    margin: 0 0 8px 0;
}

#main_shop .shop_tit h2 b {
    color: #f57421;
}

#main_shop .shop_tit p {
    font-size: 16px;
    font-weight: 400;

    margin: 0 0 16px 0;
}

#main_shop .shop_link {
    font-size: 26px;
    font-weight: 800;
    color: #fff;
}

#main_shop .shop_link a {
    background: #f57421;
    padding: 4px 124px;
}

#sponser .inner {
    width: 840px;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.5);
}

#footer .inner {
    width: 840px;
}

#footer .inner .tit {
    text-align: center;
    line-height: 40px;
}

#footer .inner .icon {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 60px 0 0 0;
}

#footer .inner .logo {
    text-align: center;
    padding: 40px 0 0 0;
}